%h1 Agencies

%table#forms
    %thead 
    %tr
        %th Agency Name
        %th Completion Date
        = link_to "How-To", "howto/howto"
        %br
        = link_to 'Add New Agency (with steps)', new_fb_agency_path 
        %th Edit Agency
        %th Delete Agency

    %tbody
    - @fb_agencies.each do |agency|
        %tr
            %td= agency.AgencyName
            %td= agency.DateOfVerification
            %td= link_to "Edit", edit_fb_agency_path(agency)
            %td= link_to 'Delete', fb_agency_path(agency), :method => :delete
            
%h1 Import:
                   -# fb_agencies_path may need to be replaced with proper path
    = form_tag import fb_agencies_path, multipart: true do
    = submit_tag 'Import'
    = file_field_tag :file

            
        
